body{
    padding: 0;
    margin: 0;
}

.createPopUp{
    position: absolute;
    z-index: 1;
    top: 30%;
    margin-left: 40%;
    background-color: white;
    width: 200px;
    padding: 20px;
    box-shadow: 10px 12px 13px gray;
    opacity: 0;
    /* display: none; */
    transition: all ease-in-out 300ms;
}
.createPopUp div {
    width: 400px;
}
.createPopUp .x{
    position: absolute;
    margin-top: -25px;
    right: 5px;
}