@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');

body{
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
}
*{
    position: relative;
    padding: 0;
    margin: 0;
}
.navBar{
    position: relative;
    background-color: #5da7db;
    width: 20rem;
    height: 44.5rem;
    transition: all 800ms ease-in-out;
    justify-content: space-between;
}
.navIcon{
    font-size: 30px;
    display: flex;
    gap: .5rem;
    color: aliceblue;
    top: 1rem;
}
.navBar .barIcon{
    right: 1rem;
    transition: all 800ms ease-in-out;
    color: aliceblue;
    font-size: 30px;
    position: absolute;
    top: .5rem;
    font-size: 40px;
}
.navContents{
    position: absolute;
    top: 3rem;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    margin-top: 5rem;
}
.navContents a{
    color: aliceblue;
    display: flex;
    text-align: right;
    justify-content: space-between;
    gap: 3rem;
    transition: all 300ms ease-in-out;
    text-decoration: none;
}
.navContents a div{
    padding: .5rem;
    padding-right: 1rem;
    /* text-align: right; */
}
.navContents a div:first-child{
    text-align: center;
    width: 100%;
    transition: all 800ms ease-in-out;
}
.navContents a div:nth-child(2){
    text-align: center;
    padding: .7rem;
    margin-top: -.1rem;
    padding-bottom: .9rem;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
    margin-right: .5rem;
}

.navContents .active div:nth-child(2){
    background-color: aliceblue;
    color: #5da7db; 
    border-radius: 20%;
    transition: all 800ms ease-in-out;
}

.navContents a:hover{
    /* background-color: aliceblue;
    color: #5da7db; */
    transition: all 800ms ease-in-out;
    border: 1px solid aliceblue;
}


.projectList{
    justify-content: center;
    color: #423F3E;
    /* background-color: blue; */
    /* line-height: 10rem; */
    margin-top: 5rem;
}
 .container{
    width: 89%;
    gap: 10rem;
    padding-left: 3rem;
    height: 40rem;
    overflow-y: scroll;
 }
 .container::-webkit-scrollbar{
    display: none;
 }

.projectContainer{
    background-color: white;
    width: 80%;  
    margin-left: 6rem;  
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px #B2B2B2;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.task{
    width: 10rem;
    padding: 3px;
    border-radius: 7px;
    box-shadow: 10px 0px 10px 0px #EAEAEA;
    border-left: 2px solid #EAEAEA;
    border-bottom: 2px solid #EAEAEA;
    background-color: white;
    transition: 200ms ease-in-out;
}
.task:hover{
    scale: 1.1;
}

.taskTitle{
    color: #73777B;
}

.preventPage{
    background-color: black;
    height: 100rem;
    top: 10px;
    /* display: block; */
    /* position:absolute; */
    z-index: 99;
    /* opacity: 0.3; */
    background: transparent;
}

.newPortal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .3);
    z-index: 1000;
}

.viewTaskContainer1{
    display:flex;
    flex-wrap: wrap;
    width: 40rem;
    gap: 20px;
    justify-content: center;
    /* margin-top: 2rem; */
    margin-bottom: 2.5rem;
    /* background-color: #423F3E; */
    padding: 15px;
    padding-top: 30px;
    height: 160px;
    overflow-y: scroll;
    border-radius: 20px;
    border: 2px solid #EAEAEA;

}

.viewTaskHeader{
    color: #D8D8D8;
    /* opacity: 0.5; */
    top: 0;
    left: 3rem;
    padding: 0 12px 0 12px;
    background-color: white;
    display: block;
    /* max-width: 15rem; */
    width: fit-content !important;
    z-index: 99;
    position: absolute;
    width: 5rem;
}

.popup{
    background-color: white;
    justify-content: center;
    align-items: center;
    display: inline;
    position: fixed;
    line-height: 4rem;
    padding: 2rem;
    box-shadow: 15px 0px 70px -40px #B2B2B2 ;
    border-left: 1px solid #B2B2B2;
    border-bottom: 1px solid #B2B2B2;
    transform: translate(-50%,-50%);
    z-index: 1000;
    top: 2%;
    left: 25%;
}
.create{
    box-shadow: 15px 0px 70px -40px #B2B2B2;
    border-left: 1px solid #B2B2B2;
    border-bottom: 1px solid #B2B2B2;
    top: 40%;
    left: 35%;
}
.options{
    background-color: white;
    padding: 5px;
    transition: 200ms all ease-in-out;
}
.options:hover{
  scale: 1.2;
  box-shadow: 5px 5px 10px 1px #B2B2B2;
}
.tableContainer{
    background-color: white;
    position: absolute;
    top: 7rem;
    left: 10rem;
    border-radius: 10px;
}
.viewHeader{
    height: 130px;
    background-color: #4e5055;
    position: relative;
}
.viewHomeIcon{
    color: #73777B;
    /* background-color: #5da7db; */
    opacity: 0;
    position: absolute;
    left: 1rem;
    top: 5px;
    transition: all 200ms ease-in-out;
}
.viewHomeIcon:hover{
    opacity: 1;
    scale: 1.1;
}
.editTextArea{
    width: 17rem;
    height: 10rem;
    border-radius: 1rem;
    padding: 0.7rem;
    font-size: 1rem;
    font-family: 'Sarabun', sans-serif;
    border: 1px solid #D8D8D8;
}
.editTextArea::-webkit-scrollbar{
    display: none;
}
.viewHeadTitle{
    color: #5da7db;
    font-family: 'Sarabun', sans-serif;
    font-weight: 500;
    position: absolute;
    font-size: 60px;
    left: 10rem;
    top: 1rem;
}
.viewHeaderLinks{
    position: absolute;
    top: 6rem;
    left: 11rem;
}
.viewHeaderLinks a{
    color: #7f8487;   
    font-family: 'Sarabun', sans-serif;
    text-decoration: none;
}
.viewHeaderLinks .active{
    text-decoration: underline;
}
.viewHeaderSearch{
    height: 40px;
    width: 13rem;
    border-radius: 20px;
    padding-left: 20px;
    position: absolute;
    right: 8rem;
    top: 3.5rem;
}
.viewList{
    position: relative;
    left: 5rem;
    top: 5rem;
}
.viewList .active{
    text-decoration: underline;
}
.viewList a{
    color: #7f8487;
    line-height: 5rem;
    text-decoration: none;

}
.verticalLine{
    background-color: #73777B;
    opacity: 0.2;
    position: absolute;
    width: 3px;
    height: 22rem;
    top: 7rem;
    left: 17rem;
}
.viewTitle{
    color: #5da7db;
    position: absolute;
    top: 10rem;
    left: 30rem;
}
.overviewPara{
    width: 300%;
    padding-top: 2rem;
    padding-left: 4rem;
    color: #4e5055;
    /* background-color: #4e5055; */
}
.packagesList{
    /* position:absolute; */
    /* top: 1rem;
    left: 20rem; */
    width: 60rem;
    height: 31rem;
    overflow-y: scroll;
    /* line-height: 6rem; */
}
.packagesList::-webkit-scrollbar{
    display: none;
}
.viewTasksComponent{
    left: 8rem;
    top: 4rem;
    width: 70rem;
    height: 31rem;
    padding: 0 2rem 0 2rem;
    /* background-color: #4e5055; */
    overflow-y: scroll;
    align-items: center;
    line-height: 4rem;
}
.viewTasksComponent::-webkit-scrollbar{
    display: none;
}
.ViewTaskItem{
    background-color: white;
    height: fit-content;
    width: 20rem;
    border-radius: 1rem;
    box-shadow: 1px 10px 25px -10px #B2B2B2;
    transition: all 200ms ease-in-out;
    border-top: 3px solid rgba(93, 167, 219, 0.4);
    border-right: 3px solid rgba(93, 167, 219, 0.4);
    z-index: 99;
}
.ViewTaskItem:hover{
    /* position: absolute; */
    scale: 1.1;
    box-shadow: 1px 10px 20px -5px #B2B2B2;
    background-color: rgba(93, 167, 219, 1);
    color: white;
    border-top: 3px solid white;
    border-right: 3px solid white;
}
.viewWorkContainer{
    width: 70rem;
    height: 20rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    border: 3px solid rgba(115, 119, 123, 0.1);
    border-radius: 2rem;
    padding-top: 4rem;
    padding-left: .5rem;
    margin-left: -10px;
    margin-top: 2rem;
    /* display: flex; */

    /* background-color: #5da7db; */
    justify-content: left;
}

.viewWorkContainer::-webkit-scrollbar{
    display: none;
}
.viewTaskHeaderText{
    position: absolute;
    z-index: 99;
    opacity: 1;
    top: -2rem;
    left:2rem;
    background-color: aliceblue;
    height: 2.2rem;
    padding: 0px 10px 0px 10px;
    color: rgba(115, 119, 123, 0.3);
}

.muiImageSlides::-webkit-scrollbar{
    background-color: #4e5055;
}
.muiImageSlides::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 2rem;
}
input[type="file"]::-webkit-file-upload-button{
    background-color: #1976d2;
    color: aliceblue;
    padding: .5rem;
    cursor: pointer;
    border: 1px solid white;
    border-radius: .3rem;
}
input[type="file"]::-webkit-file-upload-button:hover{
    color: #1976d2;
    background-color: aliceblue;
    border: 1px solid rgba(93, 167, 219, 1);
}
.alertPop{
    position: fixed;
    z-index: 1000;
    width: 20rem;
    right: 2rem;
    top: 2rem;
}

/* homeProgress */
.progressPage{
    overflow-x: visible;
    width: 89%;
    height: 44.5rem;
    overflow-y: scroll;
    padding-left: 3rem;
    /* background-color: #423F3E; */
}
.progressPage::-webkit-scrollbar{
    display: none;
}
.progressContainer{
    background-color: #423F3E;
    height: 9rem;
    width: 40;
    display: flex;
    margin-top: 2rem;
}
.progConHeader{
    color: rgba(93, 167, 219, 1);
    /* background-color: #423F3E; */
    padding-left: 2rem;
    width: fit-content;
    text-align: center;
}
.progressCountCon{
    text-align: center;
    /* width: 30rem; */
    /* position: absolute; */
    margin-top: 1rem;
    color: aliceblue;
}
.dateContainer{
    position: absolute;
    z-index: 99;
    right: 1rem;
    top: 3rem;
    background-color: #423F3E;
    padding: 0.8rem;
    height: 1.5rem;
    border-radius: 1rem;
}
.countTable{
    padding: 0.5rem;
    border-radius: .6rem;
    width: 30rem;
    height: fit-content;
    max-height: 20rem;
    overflow-y: scroll;
    overflow-x:hidden;
}
.countTable::-webkit-scrollbar{
    background-color: #EFEFEF;
}
.countTable::-webkit-scrollbar-thumb{
    background-color: rgba(93, 167, 219, 1);
    border-radius: .2rem;
}
.projprogContainer{
    height: 15rem;
    width: 100%;
    background-color: #423F3E;
}
.projprogScroll{
    padding: 1rem;
    width:90%;
    margin-left: 4rem;
    display: flex;
    gap: 2rem;
    overflow-x: scroll;
}
.projprogScroll::-webkit-scrollbar{
    display: hidden;
}
.singleFeatureBody{
    background-color: #4e5055;
    width: 50rem;
    height: 40rem;
    position: absolute;
    left: 25%;
    text-align: center;
    padding: 1rem;
    color: white;
    line-height: 7rem;
    border-radius: 2rem;
}
