body{
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
}

.projectList{
    justify-content: center;
    color: #423F3E;
    /* background-color: blue; */
    /* line-height: 10rem; */
    margin-top: 5rem;
}
 .container{
    gap: 10rem;
    height: 40rem;
    overflow-y: scroll;
 }
 .container::-webkit-scrollbar{
    display: none;
 }

.projectContainer{
    background-color: white;
    width: 80%;  
    margin-left: 6rem;  
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px #B2B2B2;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.task{
    width: 10rem;
    padding: 3px;
    border-radius: 7px;
    box-shadow: 10px 0px 10px 0px #EAEAEA;
    border-left: 2px solid #EAEAEA;
    border-bottom: 2px solid #EAEAEA;
    background-color: white;
    transition: 200ms ease-in-out;
}
.task:hover{
    scale: 1.1;
}

.taskTitle{
    color: #73777B;
}

.preventPage{
    background-color: black;
    height: 100rem;
    top: 10px;
    /* display: block; */
    /* position:absolute; */
    z-index: 99;
    /* opacity: 0.3; */
    background: transparent;
}

.newPortal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .3);
    z-index: 1000;
}

.viewTaskContainer{
    display:flex;
    flex-wrap: wrap;
    width: 40rem;
    gap: 20px;
    justify-content: center;
    /* margin-top: 2rem; */
    margin-bottom: 2.5rem;
    /* background-color: #423F3E; */
    padding: 15px;
    padding-top: 30px;
    height: 160px;
    overflow-y: scroll;
    border-radius: 20px;
    border: 2px solid #EAEAEA;

}

.viewTaskHeader{
    color: #D8D8D8;
    /* opacity: 0.5; */
    top: 0;
    left: 3rem;
    padding: 0 12px 0 12px;
    background-color: white;
    display: block;
    /* max-width: 15rem; */
    width: fit-content !important;
    z-index: 99;
    position: absolute;
    width: 5rem;
}

.popup{
    background-color: white;
    justify-content: center;
    align-items: center;
    display: inline;
    position: fixed;
    line-height: 4rem;
    padding: 2rem;
    box-shadow: 15px 0px 70px -40px #B2B2B2 ;
    border-left: 1px solid #B2B2B2;
    border-bottom: 1px solid #B2B2B2;
    transform: translate(-50%,-50%);
    z-index: 1000;
    top: 2%;
    left: 25%;
}
.create{
    box-shadow: 15px 0px 70px -40px #B2B2B2;
    border-left: 1px solid #B2B2B2;
    border-bottom: 1px solid #B2B2B2;
    top: 40%;
    left: 35%;
}
.options{
    background-color: white;
    padding: 5px;
    transition: 200ms all ease-in-out;
}
.options:hover{
  scale: 1.2;
  box-shadow: 5px 5px 10px 1px #B2B2B2;
}
.tableContainer{
    background-color: white;
    position: absolute;
    top: 7rem;
    left: 10rem;
    border-radius: 10px;
}
.viewHeader{
    height: 130px;
    background-color: #4e5055;
    position: relative;
    margin: 0px -8px 0 -8px;
}
.viewHeadTitle{
    color: #5da7db;
    font-family: 'Sarabun', sans-serif;
    font-weight: 500;
    position: absolute;
    font-size: 60px;
    left: 10rem;
    top:-1rem;
}
.viewHeaderLinks{
    color: #7f8487;
    position: absolute;
    top: 6rem;
    left: 11rem;
    font-family: 'Sarabun', sans-serif;
}
.viewHeaderSearch{
    height: 40px;
    width: 13rem;
    border-radius: 20px;
    padding-left: 20px;
    position: absolute;
    right: 8rem;
    top: 3.5rem;
}
.viewList{
    position: absolute;
    left: 5rem;
    top: 14rem;
}
.viewList a{
    color: #7f8487;
    line-height: 5rem;
}
.verticalLine{
    background-color: #73777B;
    opacity: 0.2;
    position: absolute;
    width: 3px;
    height: 22rem;
    top: 16rem;
    left: 17rem;
}
.viewTitle{
    color: #5da7db;
    position: absolute;
    top: 10rem;
    left: 30rem;
}
.overviewPara{
    width: 60%;
    padding-top: 2rem;
    padding-left: 4rem;
    color: #4e5055;
    /* background-color: #4e5055; */
}