@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');

body{
    background-color: aliceblue;
}
*{
    position: relative;
    padding: 0;
    margin: 0;
}
.notFound{
    position: relative;
    display: flex;
    height: 100vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #D8D8D8;
}
.notFound div svg{
    font-size: 10rem;
}

.login{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.loginBox{
    color: #423F3E;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    border-radius: 2rem;
    gap: 1rem;
    box-shadow:  0 3px 15px rgb(0 0 0 / 0.1);
}
.loginBox input{
    width: 25rem;
    background-color: white;
}
.loginBox input::after{
    background-color: white;
}
.loginBox button:first-of-type{
    position: absolute;
    right: 4rem;
    top: 35.5vh;
}

.navBar{
    position: relative;
    background-color: #5da7db;
    height: 100vh;
    transition: all 800ms ease-in-out;
}
.navIcon{
    font-size: 30px;
    display: flex;
    gap: .5rem;
    color: aliceblue;
    top: 1rem;
}
.navBar .barIcon{
    position: absolute;
    right: 1rem;
    transition: all 800ms ease-in-out;
    color: aliceblue;
    font-size: 30px;
    top: .5rem;
    font-size: 40px;
}
.navContents{
    position: absolute;
    top: 3rem;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    width: 100%;
    margin-top: 15vh;
}
.navContents a{
    color: aliceblue;
    display: flex;
    text-align: right;
    margin-left: .3rem;
    align-items: center;
    justify-content: space-between;
    transition: all 300ms ease-in-out;
    text-decoration: none;
}
.navContents a div{
    padding: .3rem;
    padding-right: 1rem;
}
.navContents a div:first-child{
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: .5rem;
    width: 2rem;
    transition: all 800ms ease-in-out;
}
.navContents a div:nth-child(2){
    text-align: center;
    padding: .1rem 1rem;
    margin-top: -.1rem;
    padding-bottom: .9rem;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
    margin-right: .5rem;
    overflow: hidden;
}

.navContents .active div:nth-child(1){
    background-color: aliceblue;
    color: #5da7db; 
    border-radius: 20%;
    transition: all 800ms ease-in-out;
}

.navContents a:hover{
    transition: all 800ms ease-in-out;
    border: 1px solid aliceblue;
}


.projectList{
    color: #423F3E;
    width: 200vh;
    margin-top: 2rem;
}
 .container{
    height: 100vh;
    width: 200vh;
    gap: 5rem;
    overflow-y: scroll;
    align-items: center;
    display: flex;
    flex-direction: column;
 }
 .container::-webkit-scrollbar{
    display: none;
 }

.projectContainer{
    background-color: white;
    max-height: 40vh;
    overflow-y: scroll;
    width: 160vh;  
    margin-left: 10vh;  
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px #B2B2B2;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.projectContainer::-webkit-scrollbar{
    display: none;
}

.task{
    width: 10rem;
    padding: 3px;
    border-radius: 7px;
    box-shadow: 10px 0px 10px 0px #EAEAEA;
    border-left: 2px solid #EAEAEA;
    border-bottom: 2px solid #EAEAEA;
    background-color: white;
    transition: 200ms ease-in-out;
}
.task:hover{
    scale: 1.1;
}

.task p{
    color: #73777B;
}

.preventPage{
    background-color: black;
    height: 100rem;
    top: 10px;
    z-index: 99;
    background: transparent;
}

.newPortal{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .3);
    z-index: 1000;
}

.viewTaskContainer1{
    display:flex;
    flex-wrap: wrap;
    width: 40rem;
    gap: 20px;
    justify-content: center;
    margin-bottom: 2.5rem;
    padding: 15px;
    padding-top: 30px;
    height: 160px;
    overflow-y: scroll;
    border-radius: 20px;
    border: 2px solid #EAEAEA;

}

.viewTaskHeader{
    color: #D8D8D8;
    top: 0;
    left: 3rem;
    padding: 0 12px 0 12px;
    background-color: white;
    display: block;
    width: fit-content !important;
    z-index: 99;
    position: absolute;
    width: 5rem;
}

.popup{
    background-color: white;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 2rem;
    box-shadow: 15px 0px 70px -40px #B2B2B2 ;
    border-left: 1px solid #B2B2B2;
    border-bottom: 1px solid #B2B2B2;
    transform: translate(-50%,-50%);
    /* z-index: 1000; */
    /* top: 2%;
    left: 25%; */
}
.create{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    top: 30vh;
}
.create div,input,textarea{
    width: 20rem;
}
.options{
    background-color: white;
    padding: 5px;
    transition: 200ms all ease-in-out;
}
.options:hover{
  scale: 1.2;
  box-shadow: 5px 5px 10px 1px #B2B2B2;
}
.tableContainer{
    margin-top: 10vh;
    background-color: white;
    border-radius: 10px;
}
.viewHeader{
    height: 130px;
    background-color: #4e5055;
    position: relative;
}
.viewHomeIcon{
    color: #73777B;
    opacity: 0;
    position: absolute;
    left: 1rem;
    top: 5px;
    transition: all 200ms ease-in-out;
}
.viewHomeIcon:hover{
    opacity: 1;
    scale: 1.1;
}
.editTextArea{
    width: 17rem;
    height: 10rem;
    border-radius: 1rem;
    padding: 0.7rem;
    font-size: 1rem;
    font-family: 'Sarabun', sans-serif;
    border: 1px solid #D8D8D8;
}
.editTextArea::-webkit-scrollbar{
    display: none;
}
.viewHeadTitle{
    color: #5da7db;
    font-family: 'Sarabun', sans-serif;
    font-weight: 500;
    position: absolute;
    font-size: 60px;
    left: 10rem;
    top: 1rem;
}
.viewHeaderLinks{
    position: absolute;
    top: 6rem;
    left: 11rem;
}
.viewHeaderLinks a{
    color: #7f8487;   
    font-family: 'Sarabun', sans-serif;
    text-decoration: none;
}
.viewHeaderLinks .active{
    text-decoration: underline;
}
.viewHeaderSearch{
    height: 40px;
    width: 13rem;
    border-radius: 20px;
    padding-left: 20px;
    position: absolute;
    right: 8rem;
    top: 3.5rem;
}
.viewList{
    position: relative;
    left: 5rem;
    top: 5rem;
}
.viewList .active{
    text-decoration: underline;
}
.viewList a{
    color: #7f8487;
    line-height: 5rem;
    text-decoration: none;

}
.verticalLine{
    background-color: #73777B;
    opacity: 0.2;
    position: absolute;
    width: 3px;
    height: 22rem;
    top: 7rem;
    left: 17rem;
}
.viewTitle{
    color: #5da7db;
    position: absolute;
    top: 10rem;
    left: 30rem;
}
.overviewPara{
    width: 300%;
    padding-top: 2rem;
    padding-left: 4rem;
    color: #4e5055;
}
.packagesList{
    width: 60rem;
    height: 31rem;
    overflow-y: scroll;
}
.packagesList::-webkit-scrollbar{
    display: none;
}
.viewTasksComponent{
    left: 8rem;
    top: 4rem;
    width: 70rem;
    height: 31rem;
    padding: 0 2rem 0 2rem;
    overflow-y: scroll;
    align-items: center;
    line-height: 4rem;
}
.viewTasksComponent::-webkit-scrollbar{
    display: none;
}
.ViewTaskItem{
    background-color: white;
    height: fit-content;
    width: 20rem;
    border-radius: 1rem;
    box-shadow: 1px 10px 25px -10px #B2B2B2;
    transition: all 200ms ease-in-out;
    border-top: 3px solid rgba(93, 167, 219, 0.4);
    border-right: 3px solid rgba(93, 167, 219, 0.4);
    z-index: 99;
}
.ViewTaskItem:hover{
    scale: 1.1;
    box-shadow: 1px 10px 20px -5px #B2B2B2;
    background-color: rgba(93, 167, 219, 1);
    color: white;
    border-top: 3px solid white;
    border-right: 3px solid white;
}
.viewWorkContainer{
    width: 70rem;
    height: 20rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    border: 3px solid rgba(115, 119, 123, 0.1);
    border-radius: 2rem;
    padding-top: 4rem;
    padding-left: .5rem;
    margin-left: -10px;
    margin-top: 2rem;
    justify-content: left;
}

.viewWorkContainer::-webkit-scrollbar{
    display: none;
}
.viewTaskHeaderText{
    position: absolute;
    z-index: 99;
    opacity: 1;
    top: -2rem;
    left:2rem;
    background-color: aliceblue;
    height: 2.2rem;
    padding: 0px 10px 0px 10px;
    color: rgba(115, 119, 123, 0.3);
}

.muiImageSlides::-webkit-scrollbar{
    background-color: #4e5055;
}
.muiImageSlides::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 2rem;
}
input[type="file"]::-webkit-file-upload-button{
    background-color: #1976d2;
    color: aliceblue;
    padding: .5rem;
    cursor: pointer;
    border: 1px solid white;
    border-radius: .3rem;
}
input[type="file"]::-webkit-file-upload-button:hover{
    color: #1976d2;
    background-color: aliceblue;
    border: 1px solid rgba(93, 167, 219, 1);
}
.alertPop{
    position: fixed;
    z-index: 1000;
    width: 20rem;
    right: 2rem;
    top: 2rem;
}

/* homeProgress */
.progressPage{
    width: 200vh;
    height: 100vh;
    overflow-y: scroll;
}
.progressPage::-webkit-scrollbar{
    display: none;
}
.progressContainer{
    background-color: #423F3E;
    height: 9rem;
    width: 40;
    display: flex;
    margin-top: 2rem;
}
.progressElements{
    width: 200vh;
    height: fit-content;
    margin-top: 2rem;
}
.progressFlex{
    display: flex;
    margin-top: 1rem;
    padding: 1.5rem;
    width: 180vh; 
    justify-content: space-between;
}
.progConHeader{
    color: rgba(93, 167, 219, 1);
    width: fit-content;
}
.progressContainer div{
    text-align: center;
    margin-top: 1rem;
    color: aliceblue;
}
.dateContainer{
    position: absolute;
    z-index: 99;
    right: 2rem;
    bottom: 1rem;
}
.countTable{
    padding: 0.5rem;
    border-radius: .6rem;
    width: 30rem;
    height: fit-content;
    max-height: 20rem;
    overflow-y: scroll;
    overflow-x:hidden;
}
.countTable::-webkit-scrollbar{
    background-color: #EFEFEF;
}
.countTable::-webkit-scrollbar-thumb{
    background-color: rgba(93, 167, 219, 1);
    border-radius: .2rem;
}
.projprogContainer{
    height: 15rem;
    width: 100%;
    background-color: #423F3E;
}
.projprogScroll{
    padding: 1rem;
    width:90%;
    margin-left: 4rem;
    display: flex;
    gap: 2rem;
    overflow-x: scroll;
}
.projprogScroll::-webkit-scrollbar{
    display: hidden;
}
.singleFeatureBody{
    background-color: #4e5055;
    width: 50rem;
    height: 40rem;
    position: absolute;
    left: 25%;
    text-align: center;
    padding: 1rem;
    color: white;
    line-height: 7rem;
    border-radius: 2rem;
}

.links{
    display: flex;
    gap: 5rem;
    position: absolute;
    top: 8rem;
    left: 10rem;
}

.links a{
    text-decoration: none;
    color: #423F3E;
}

.links a img{
    width: 10rem;
}

.userPage{
    width: 200vh;
    height: 100vh;
    overflow-y: scroll;
}
.userPage::-webkit-scrollbar{
    display: none;
}
.userPage button{
    margin-left: 100vh;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.userHeader{
    background-color: #4e5055;
    height: 307px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:-1;
    display: flex;
    gap: 2rem;
}
.userHeader div:nth-child(1){
    height: 237px;
    width: 237px;
    background-color: white;
    margin-left: 5rem;
    margin-top: 2rem;
    border-radius: 50%;
}
.userHeader div{
    color: white;
}

.userHeader div:nth-child(2){
    margin-top: 4rem;
    line-height: 1rem;
    text-align: left;
}

.userHeader div:nth-child(2) h5{
    color: #B2B2B2;
}

.userHeader div:nth-child(3){
    display: flex;
    gap: 3rem;
    font-size: larger;
    position: absolute;
    right: 8rem;
    top: 1rem;
}
.projGroup{
    margin-top: 24rem;
    z-index: -2;

}
.projGroup div{
    justify-content: center;
    margin-top: 1rem;
}
.projGroup h4{
    margin-left: 5rem;
}
.projectTile{
    width: 267px;
    height: 211px;
    border-radius: 2rem;
    box-shadow: 15px 15px 50px -10px  #73777B;
}

.closeIcon{
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
    opacity: .5;
}
